В каждом модуле оплаты должны обязательно присутствовать следующие файлы:

conf/название_модуля.conf.php - настройки модуля
conf/название_модуля.tariffs.php - тарифная сетка для текущего модуля
templates/images/logo.png - логотип модуля
index.php - главный файл модуля пользовательской части (в этом файле производятся все необходимые действия с модулем в пользовательской части).


Если в модуле отсутствует какой либо из данных файлов, такой модуль нельзя будет установить. Соответственно, файлы такого модуля не будут подключены.
Модуль может содержать и множество других файлов (шаблоны, стили, различные обработчики и т.д.).

admin.php - главный файл модуля админ-панели (в этом файле производятся все необходимые действия с модулем в админ-панели). Файл не обязательный.


Другие требования:

Константы, хранящиеся в файле conf/название_модуля.conf.php должны быть следующего вида: НАЗВАНИЕ_МОДУЛЯ_CONF_НАЗВАНИЕ_КОНСТАНТЫ

Шаблон настроек модуля (в админ-панели), передается в переменной config_template в файле admin.php модуля.

Имена полей в шаблоне должны соответствовать константам, значения которых выводятся в полях, без префикса константы.
Например: если есть константа НАЗВАНИЕ_МОДУЛЯ_CONF_BANK_ID, то поле, в котором выводится значение даной константы должно называться bank_id (name="bank_id"). Где: НАЗВАНИЕ_МОДУЛЯ_CONF_ - префикс константы; BANK_ID - название поля.

Массив тарифов всегда называется только $arrTariffs. Ключи данного массива полность соответствуют ключам массива $arrPayments (файл: core/conf/config.payments.php)