.rating_wrapper *{
	margin: 0;
	border: 0;
	padding: 0;
}
.rating_wrapper {
	overflow: hidden;
	height: 16px;
	border-bottom: 1px solid #DDDDDD;
	border-bottom-style: dashed;
	padding: 1px;
	background-color: #FFFFFF;
}
.sp_rating {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.7em;
	color: #5f5f5f;
	display: block;
}
	.rate {
		float: right;
	}
	.rating {
		float: left;
		padding-right: 4px;
	}
	.author {
		float: left;
		padding-right: 20px;
	}
		.author span {
			color: #CC3333;
			font-weight: bold;
		}
	.date {
		float: left;
		padding-right: 10px;
	}
		.date span {
			font-weight: bold;
		}
	.base {
		background: url(../images/ratings.gif) 0 0 no-repeat;
		width: 85px;
		height: 100%;
		float: left;
		padding-right: 4px;
		overflow: hidden;
	}
	.average {
		background: url(../images/ratings.gif) 0 -16px no-repeat;
		text-indent: -9999px;
		width: 100px;
	}
	.votes {
		float: left;
		padding-right: 4px;
	}
	.score {
		background: url(../images/ratings.gif) 0 0 no-repeat;
		width: 85px;
		height: 100%;
		float: left;
		position: relative;
	}
		.score a {
			display: block;
			height: 100%;
			float: left;
			text-indent: -9999px;
			position: absolute;
			overflow: hidden;
			line-height: 5em;
		}
		.score1 {
			width: 20%;
			z-index: 55;
		}
		.score2 {
			width: 40%;
			z-index: 54;
		}
		.score3 {
			width: 60%;
			z-index: 53;
		}
		.score4 {
			width: 80%;
			z-index: 52;
		}
		.score5 {
			width: 100%;
			z-index: 45;
		}
		.score a:hover {
			background: url(../images/ratings.gif) bottom right no-repeat;
		}
	.status {
		height: 16px;
		width: 100px;
		overflow: hidden;
		position:relative;
		float: right;
	}
	.score_this {
		height: 100%;
		overflow: hidden;
		padding-top: 1px;
	}
		.score_this a {
			color: #f37800;
			font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-size: 11px;
		}
